body{
    margin:0;
    background:#000;
}

#box1{
    float:left;
    width: 177px;
    height: 177px;
    display:block;
    background:red;
    margin:77px 0 0 0;
}

#box2{
    float:right;
    width: 177px;
    height: 177px;
    display:block;
    background:blue;
    margin:333px 0 0 0;
}